body {
  background-color: #3bb7ff;
}

header {
  width: 100%;
  background-color: #3bffeb;
}

.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100%;
}

.App-header {
opacity: .8;
font-size: 3em;
}

.Country {
  opacity: .75;
  background-color: #ffffff;
  width: auto;
  margin: 1em;
  padding: 1em;
  align-items: center;
  display: flex;
}